[project]
	description = Android app to collect data to be analyzed for medical purposes.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jazmín Villagra (jazvillagra)
[access "refs/for/refs/*"]
	read = group user/Jazmín Villagra (jazvillagra)
	push = group user/Jazmín Villagra (jazvillagra)
	label-Code-Review = -2..+2 group user/Jazmín Villagra (jazvillagra)
	label-Verified = -1..+1 group user/Jazmín Villagra (jazvillagra)
	rebase = group user/Jazmín Villagra (jazvillagra)
	removeReviewer = group user/Jazmín Villagra (jazvillagra)
	submit = group user/Jazmín Villagra (jazvillagra)
[access "refs/heads/*"]
	read = group user/Jazmín Villagra (jazvillagra)
	create = group user/Jazmín Villagra (jazvillagra)
	push = +force group user/Jazmín Villagra (jazvillagra)
	pushMerge = group user/Jazmín Villagra (jazvillagra)
[access "refs/tags/*"]
	push = group user/Jazmín Villagra (jazvillagra)
	push = +force group user/Jazmín Villagra (jazvillagra)
